*.classpath
*.project
.settings
.project
.target
.out
.classpath
*.MF
**/.settings
**/.DS_Store
**/.classpath
**/.eclipse
**/target/
**/test-output
target/
bin/
.idea/
test.iml
.DS_Store
.DS_Store
out/